.sm_contentwrap div div hr{color:#EBD68D;}
.sm_alt_text{color:#9D811C;}

.handover{cursor:pointer;}
label{cursor:pointer;}
.help_text {border:1px solid #666666;padding:10px;}

.smpad {margin: 0 0 5px 0; padding:0;}