/* overrides default osticket styles */
table.list tbody tr.osf_active td{background-color:#FFFFDD}
table.list {border:none; padding:2px; margin:0; border-collapse: collapse;}

a.osf_faq{background:url('../img/icons/book_add.png');}
a.osf_settings{background:url('../img/icons/cog.png');}
a.osf_sitemap{background:url('../img/icons/script_code.png');}
a.osf_cleaner{background:url('../img/icons/attach.png');}
a.osf_check{background:url('../img/icons/info.png');}


.osf_red{color:red;}

/* page headings */
h1 {font-family: Arial, Helvetica, sans-serif; text-decoration: none; font-weight: bold; color:#006699; font-size: 15px;}
h2 {font-family: Arial, Helvetica, sans-serif; text-decoration: none; font-weight: bold; color:#006699; font-size: 13px;}
h2 i{color:#006699;}

td p{font-size: 12px;}

.horizontal_rule{border-bottom:2px solid #ccc; width:100%; height:2px; margin:0; padding:0;}

/* admin side box */
div.faqinfo{background-color:#eee; padding:5px; border:1px solid #999; border-radius: .3em; -khtml-border-radius: .3em; -moz-border-radius: .3em; -webkit-border-radius: .3em;}
table.faqinfo{padding:0;border:none;}
table.faqinfo th {font-size:1.1em; font-weight:bold; text-align:left;}
table.faqinfo th a, table.faqinfo th a:hover {color:#FFF; text-decoration:underline;}
table.faqinfo th b {color: #333;}

table.faqinfo td {padding-left:3px; font-size:0.9em; color:#000000;}

.osf_bc{color:#bbb;}

/* system messages */
.messageHandlerSuccess{background-color:#dff0d8; color:#468847; padding:5px; border:1px solid #468847;}
.messageHandlerWarning{background-color:#fcf8e3; color:#c09853; padding:5px; border:1px solid #c09853;}
.messageHandlerError{background-color:#f2dede; color:#b94a48; padding:5px; border:1px solid #b94a48;}
.messageHandlerPlain{background-color:#d9edf7; color:#3a87ad; padding:5px; border:1px solid #3a87ad;}
.messageHandlerSuccess, .messageHandlerWarning, .messageHandlerError, .messageHandlerPlain{border-radius: .3em; -khtml-border-radius: .3em; -moz-border-radius: .3em; -webkit-border-radius: .3em; margin: 0 0 3px 0;}

/* filter box */
#osf_filter_box{display:block; float:right; background-color:#eee; color:#888; padding:3px; border:1px solid #ccc; margin: 0 0 4px 0; -webkit-border-radius: 0 0 5px 5px; -khtml-border-radius: 0 0 5px 5px;  -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}

#osf_filter_box_active{display:block; float:right; background-color:#fcf8e3; color:#c09853; padding:3px; border:1px solid #c09853; margin: 0 0 4px 0; -webkit-border-radius: 0 0 5px 5px; -khtml-border-radius: 0 0 5px 5px;  -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}

.osf_search{padding:0; margin:0; border-collapse: collapse; color:#999; display:inline-block;}

/* form styling */
input[type="text"], input[type="password"], textarea, select{padding:2px; background-color:#ffffff; border:1px solid #999999; color:#000000; border-radius: .3em; -khtml-border-radius: .3em; -moz-border-radius: .3em; -webkit-border-radius: .3em;}
select{padding:0;}
table.faqinfo input[type="text"], table.faqinfo input[type="password"]{width:95%;}

input[type="text"][disabled="disabled"], input[type="text"][readonly="readonly"], select[disabled="disabled"],
input[type="text"][disabled="disabled"]:hover, input[type="text"][readonly="readonly"]:hover, select[disabled="disabled"]:hover,
input[type="text"][disabled="disabled"]:focus, input[type="text"][readonly="readonly"]:focus, select[disabled="disabled"]:focus{background-color:#CCCCCC; color:#000000}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover{background-color:#FFFFCC;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus{background-color:#FFFFCC;}

/* pagination */
.paginate_row {padding: 2px 6px 2px 6px; font-family: Arial, Helvetica, sans-serif; background-color:#eee; color:#3a87ad; border:1px solid #ddd;}
.paginate_top{-webkit-border-radius: 10px 10px 0 0; -khtml-border-radius: 10px 10px 0 0;  -moz-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0;}
.paginate_bot{-webkit-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 10px 10px;  -moz-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;}


.paginate_row i, .paginate_row span.inactive{border-radius: .3em; -khtml-border-radius: .3em; -moz-border-radius: .3em; -webkit-border-radius: .3em;}
.paginate_row input[type="text"], .paginate_row input[type="password"], .paginate_row textarea, .paginate_row select{padding:0;}
.paginate {color: #666; font-size: .8em;}
.current {color: #fff; font-size: .8em;}
.inactive {color: #aaa; font-size: .8em;}

i.paginate {border: 1px solid #ccc; padding: 2px 6px 2px 6px; font-weight: bold; font-style:normal; text-decoration: none; color: #2F88D9; background-color:#F7F7F7;}

/* fix sizing differences between buttons and links */
input[type="button"].osf_button,input[type="submit"].osf_button {padding: 2px 5px 2px 5px; min-width: 50px; max-width: 250px;}
i.osf_button,a.osf_button, button.osf_button {padding: 3px 5px 3px 5px; min-width: 48px; max-width: 244px;}

/* make buttons size correctly in firefox */
button::-moz-focus-inner{padding:0;border:none}

input[type="button"].osf_button,input[type="submit"].osf_button, i.osf_button, button.osf_button {cursor: pointer; font-family: Arial, Helvetica, sans-serif; font-size: 12px; width:auto; height:auto; border-collapse: collapse; vertical-align:middle; margin:0;}

button.osf_button, i.osf_button, input[type="button"].osf_button, input[type="submit"].osf_button, i.paginate:hover, i.current{
display: inline-block;
text-align:center;
border:1px solid #666666;
border-radius: .3em;
-khtml-border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
color: #ffffff;
font-style:normal;
/* Fallback */
background-color: #184E81;
/* IE7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#539CDF', endColorstr='#184E81');
/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#539CDF', EndColorStr='#184E81')";
/* IE9. Renders an svg image */
background-image: url(button_gradient.php?from=539CDF&to=184E81);
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #539CDF 0%, #184E81 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #539CDF 0%, #184E81 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #539CDF 0%, #184E81 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #539CDF), color-stop(1, #184E81));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #539CDF 0%, #184E81 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #539CDF 0%, #184E81 100%);
}

button.osf_button:hover, i.osf_button:hover, input[type="button"].osf_button:hover, input[type="submit"].osf_button:hover{
font-style:normal;
/* Fallback */
background-color: #7ACBE3;
/* IE7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ACBE3', endColorstr='#216DB4');
/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ACBE3', EndColorStr='#216DB4')";
/* IE9. Renders an svg image */
background-image: url(button_gradient.php?from=7ACBE3&to=216DB4);
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #7ACBE3 0%, #216DB4 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #7ACBE3 0%, #216DB4 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #7ACBE3 0%, #216DB4 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7ACBE3), color-stop(1, #216DB4));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #7ACBE3 0%, #216DB4 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #7ACBE3 0%, #216DB4 100%);
}

button.osf_button:active, i.osf_button:active, input[type="button"].osf_button:focus, input[type="submit"].active:focus, i.paginate:active{
border-color: #000000;
color: #ffffff;
font-style:normal;
/* Fallback */
background-color: #3F92DC;
/* IE7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#216DB4', endColorstr='#3F92DC');
/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#216DB4', EndColorStr='#3F92DC')";
/* IE9. Renders an svg image */
background-image: url(button_gradient.php?from=216DB4&to=3F92DC);
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #216DB4 0%, #3F92DC 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #216DB4 0%, #3F92DC 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #216DB4 0%, #3F92DC 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #216DB4), color-stop(1, #3F92DC));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #216DB4 0%, #3F92DC 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #216DB4 0%, #3F92DC 100%);
}

/* no border, background or padding */
button.osf_button_plain{border:none; background-color:transparent; padding:0; margin:0; cursor: pointer; color:#184E81; font-weight: bold;}

i.current {padding: 2px 6px 2px 6px; font-weight: bold; cursor: default; font-size: .8em; text-decoration: none; color: #fff; border-radius: 1.0em; -khtml-border-radius: 1.0em; -moz-border-radius: 1.0em; -webkit-border-radius: 1.0em;}
span.inactive {border: 1px solid #999; padding: 2px 6px 2px 6px; cursor: default; font-weight: bold;}